@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import 'vars';
@import "fonts";
@import 'mixins';
@import 'ui/forms';
@import "ui/alerts";

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  height: 100%;
}

#__nuxt, #__layout {
  @apply w-full h-full;
}

.container-xs {
  max-width: 380px;
}

.container-sm {
  max-width: 544px;
}

b {
  @apply font-bold;
}
