@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import './vars';
@import './mixins';

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
