.SignContainer {
  margin-top: 10vh;
}
.SignHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 630px) {
    padding: 0 10px;
  }
  .homelogo {
    width: auto;
    height: auto;
  }
}
.Title {
  font-size: 4rem;
  color: red;
}
.SignMenubar {
  font-size: 2rem;
  color: black;
  position: absolute;
  right: 30px;
  top: 50px;
  display: block;
  @media screen and (min-width: 630px) {
    display: none;
  }
}

.TransSearch {
  display: flex;
  justify-content: center;
  height: 70px;
  padding: 10px 0;
  width: 100%;
  @media screen and (max-width: 630px) {
    width: 100%;
    margin-left: 5px;
  }
  .icon {
    margin-top: 15px;
    z-index: 999;
    margin-left: -35px;
    font-size: 25px;
    color: #828282;
  }
  input {
    height: 55px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 600px;
    padding: 0 40px 0 15px;
    transition: all 0.3s;
    @media screen and (max-width: 630px) {
      width: 100%;
    }
  }
  input:focus,
  input:active {
    outline: none !important;
    border: 1px solid red;
  }
}
.Signfix {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100px;
  position: fixed;

  bottom: 0 !important;
  background-color: white;
  width: 100%;
  * {
    top: 10px !important;
  }
}
.ResultContent {
  margin-bottom: 100px;
}
