.AccountsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.Header {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
  .account_logo {
    width: 70px;
    height: auto;
  }
  span {
    margin-top: 10px;
    font-size: 2.5rem;
    color: red;
  }
}
.AddButton {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px 100px;
  max-width: 500px;
  opacity: 0.8;
  margin-top: 25vh;
  cursor: pointer;
  color: #b6bbc1;
  margin-bottom: 7rem;
  transition: all 0.3s;
  &:hover {
    color: black;
  }
}
.AccountMenubar {
  font-size: 2rem;
  color: black;
  position: absolute;
  right: 30px;
  top: 30px;
  display: block;
  @media screen and (min-width: 630px) {
    display: none;
  }
}
.ResBack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba($color: #000, $alpha: 0.6);
  width: 100vw !important;
  height: 100vh !important;
  @media screen and (min-width: 630px) {
    display: none !important;
  }
}
