.AboutContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  transition: all 0.8s;
}
.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .about_logo {
    width: 70px;
  }
  span {
    color: red;
    font-size: 2.8rem;
    font-weight: 500;
  }
}
.openinnewIcon {
  font-size: 22px;
  color: #7a7a7a;
}
.gitreport {
  font-size: 22px;
}
.AboutContent {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  transition: all 0.8s;
  .versionSpan {
    margin: 30px 0;
  }
  .license {
    margin-bottom: 30px;
  }
  span {
    font-size: 1.15rem;
    color: rgba(0, 0, 0, 0.9);
  }
  @media screen and (max-width: 600px) {
    margin: 10px;
  }
}
.Title {
  font-weight: 600;
  color: black !important;
  font-size: 2.3rem !important;
  text-align: left;
}
.Detail {
  margin-top: 20px;
  font-size: 1.1em;
  color: #605353;
  max-width: 550px;
}
.contrispan {
  margin: 30px 0 10px 0 !important;
}
.LinkGroup {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 5px;
    margin-bottom: 15px;
  }
  a:hover {
    text-decoration: underline !important;
  }
  transition: all 0.8s;
  @media screen and (max-width: 600px) {
    margin: 10px;
  }
}
.ecencyspan {
  margin-top: 35px !important;
  color: #605353 !important;
  font-size: 1.1rem;
}
.Contributors {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  transition: all 0.8s;
  @media screen and (max-width: 600px) {
    margin: 10px;
  }
  * {
    margin-top: 10px;
  }
  span {
    color: black;
  }
  color: rgba(0, 0, 0, 0.8);
  span a {
    color: rgb(0, 110, 255);
  }
  a:hover {
    text-decoration: underline;
  }
  span a:hover {
    text-decoration: underline;
  }
  margin-bottom: 50px;
}
.AboutMenubar {
  font-size: 2rem;
  color: black;
  position: absolute;
  right: 30px;
  top: 50px;
  display: block;
  @media screen and (min-width: 630px) {
    display: none;
  }
}
.Aboutfix {
  // * {
  //   top: 30px !important;
  // }
}
