.NavbarContainer {
  display: flex;
  flex-direction: row;
  margin: 1rem auto 4rem auto;
  position: relative;
  grid-gap: 20px;
  max-width: 550px;
  justify-content: space-between;
  transition: all 0.8s;
  margin-top: 30px;
  * {
    cursor: pointer;
    font-size: 1.125rem;
    color: rgb(150, 150, 150);
    &:hover {
      color: rgb(227, 19, 55);
    }
    transition: all 0.75s;
  }
  @media screen and (max-width: 1280px) {
    margin-top: 100px;
  }
  @media screen and (max-width: 630px) {
    transition: all 0.8s;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: absolute;
    padding: 10px 50px;
    box-shadow: 4px 4px 4px 1px grey;
    top: -65px;
    right: 65px;
    * {
      color: black;
    }
  }
  .closeIcon {
    z-index: 10;
    right: 10px !important;
    top: 0 !important;
    color: #000;
    font-size: 25px;
    position: absolute;
    margin-top: 10px;
  }
  .ru {
    margin-top: 10px;
  }
  .LanguageDiv {
    display: flex;
    flex-direction: column;
    z-index: 10;
    font-size: 13px !important;
    width: 300px;
    height: 100px !important;
    position: absolute;
    background-color: white;
    right: 0 !important;
    top: -100px !important;
    transition: all 0.3s !important;
    cursor: pointer;
    padding: 20px 30px;
  }
  .Language {
    font-size: 1rem;
    color: black;
  }
  .LinkBtn {
    text-transform: uppercase;
    color: black;
    display: flex;
    align-items: center;
  }
}
.CoverDiv {
  width: 100vw;
  height: 100vw;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000, $alpha: 0.6);
}
